extends ./layout.pug

block content
    h1 Debugging and Devtools


    ol
        li
            a(href='/lessons/editing') Editing
        li
            a(href='/lessons/debugging') Debugging
        
    